# Ignore Gradle build files
.gradle/
build/

# Keep Gradle wrapper jar
!gradle/wrapper/gradle-wrapper.jar

# Ignore IntelliJ IDEA files
.idea/
*.iml
out/

# Ignore app build files
app/build/
!app/gradle/wrapper/gradle-wrapper.jar

# Ignore Eclipse files (если применимо)
*.classpath
*.project
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store